<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Lattitude">
    <meta name="author" content="Francisco Hohn">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="styles.css" media="screen">

    <title>CaliFuego</title>
</head>

  <body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="landing.html">CaliFuego</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Visualizations
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="realTime_fires.html">Real-time Fires</a>
                      <a class="dropdown-item" href="mapped_fires_byYear.html">Mapped Fires by Year</a>
                      <a class="dropdown-item" href="total_fires_byYear">Yearly Totals Line Graph</a>
                    </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="resources.html">Resources</a>
                </li>
              </ul>
              
            </div>
    </nav>

    <!--Containers-->
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <div class="box">
              <h3>Summary: Latitute vs. X</h3>
              <hr>
              <img class="main-image" src="Res02_Max_Temp.png" alt="Max Temperature">
              <p> The purpose of this project was to analyze how weather changes as you get closer to the equator. To accomplish this analysis,
                  we first pulled data from the OpenWeatherMap API to assemble a dataset on over 500 cities.</p>
              <p> After assembling the dataset, we used Matplotlib to plot various aspects of the weather vs. latitude.
                  Factors we looked at included: temperature, cloudiness, wind speed, and humidity. This site provides the
                  source data and visualizations created as part of the analysis, as well as explanations and descriptions of
                  any trends and correlations witnessed.</p>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <div class="box">
                <h3>Visualizations</h3>
                <hr>
                <div class="container">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3">
                      <a href="02_max_temp.html">
                        <img src="Res02_Max_Temp.png" alt="Max Temperature">
                      </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3">
                      <a href="02_humidity.html">
                        <img src="Res02_Humidity.png" alt="Humidity">
                      </a>
                    </div>  
                  
                      <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3">
                        <a href="02_cloudiness.html">
                          <img src="Res02_Cloudiness.png" alt="Cloudiness">
                        </a>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3">
                        <a href="02_wind_speed.html">
                          <img src="Res02_Wind_Speed.png" alt="Wind Speed">
                        </a>
                      </div>  
                    </div>
                  </div>
              </div>
            </div>
            </div>
</div>
    <!-- Optional JavaScript -->
    <script src="js/scripts.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- Footer -->
  <footer class="page-footer font-small blue pt-4">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="01_landing.html"> Lattitude.com</a>
      </div>

  </footer>
  </body>

     
</html>